In [7]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\nagpa\.vscode\deepproj\wenv\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\nagpa\.vscode\deepproj\wenv\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.10.0 in c:\users\nagpa\.vscode\deepproj\wenv\lib\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.3.0 in c:\users\nagpa\.vscode\deepproj\wenv\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\nagpa\.vscode\deepproj\wenv\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import sklearn
print("Scikit-learn:", sklearn.__version__)

Scikit-learn: 1.8.0

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [3]:
##load the dataset
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
##preprocessing
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
##encode categorical columns
label_gender=LabelEncoder()
data['Gender']=label_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [12]:
##one hot encoding for 'Geography' column
from sklearn.preprocessing import OneHotEncoder
onehotencoder=OneHotEncoder(sparse_output=False)

In [14]:
geo_encoded=onehotencoder.fit_transform(data[['Geography']])
geo_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [15]:
onehotencoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [19]:
geo_encoded_df=pd.DataFrame(geo_encoded, columns=onehotencoder.get_feature_names_out(['Geography']))

In [20]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [ ]:
##combine the coloumns with original data
data=pd.concat([data,geo_encoded_df],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Geography_France,Geography_Germany,Geography_Spain
0,619,France,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0,1.0,0.0,0.0
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0,0.0,0.0,1.0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0,1.0,0.0,0.0
3,699,France,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0,1.0,0.0,0.0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0,1.0,0.0,0.0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0,1.0,0.0,0.0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0,1.0,0.0,0.0
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0,0.0,1.0,0.0
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0,1.0,0.0,0.0

In [25]:
##save the encoders
with open('label_gender.pkl','wb') as f:
    pickle.dump(label_gender,f)

with open('onehotencoder.pkl','wb') as f:
    pickle.dump(onehotencoder,f)

In [47]:
X=data.drop('Exited',axis=1)
y=data['Exited']

In [ ]:
data=data.drop('Geography',axis=1)

In [41]:
geo_encoded_df=pd.DataFrame(geo_encoded, columns=onehotencoder.get_feature_names_out(['Geography']))

In [43]:
##combine the coloumns with original data
data=pd.concat([data,geo_encoded_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [46]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [48]:
##split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

##scale the festure
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [49]:
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

ANN implementation

In [50]:
##tensorflow model
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [51]:
X_train.shape[1]

12

In [52]:
##buiks ANN model
model=Sequential(
    [
        Dense(64,activation='relu',input_shape=(X_train.shape[1],)),##input layer
        Dense(32,activation='relu'),##hidden layer
        Dense(1,activation='sigmoid')##output layer 
    ]
)

WARNING:tensorflow:From c:\Users\nagpa\.vscode\deepProj\wenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [53]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
opt=tf.keras.optimizers.Adam(learning_rate=0.001)
loss=tf.keras.losses.BinaryCrossentropy()

In [56]:
##compile the model
model.compile(optimizer="adam",loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
##setup the tensorboard
log_dir="log/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tf_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [59]:
##setup early stopping
early_stopping=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [60]:
##training the model
history=model.fit(
    X_train,
    y_train,
    validation_split=0.2,
    epochs=100,
    batch_size=32,
    callbacks=[early_stopping,tf_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\nagpa\.vscode\deepProj\wenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\nagpa\.vscode\deepProj\wenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

200/200 [==============================] - 4s 8ms/step - loss: 0.4547 - accuracy: 0.8039 - val_loss: 0.4043 - val_accuracy: 0.8319
Epoch 2/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3899 - accuracy: 0.8381 - val_loss: 0.3747 - val_accuracy: 0.8456
Epoch 3/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3610 - accuracy: 0.8519 - val_loss: 0.3620 - val_accuracy: 0.8531
Epoch 4/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3467 - accuracy: 0.8583 - val_loss: 0.3518 - val_accuracy: 0.8519
Epoch 5/100
200/200 [==============================] - 1s 5ms/step - loss: 0.3419 - accuracy: 0.8603 - val_loss: 0.3485 - val_accuracy: 0.8519
Epoch 6/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3354 - accuracy: 0.8628 - val_loss: 0.3488 - val_accuracy: 0.8500
Epoch 7/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3312 - accuracy: 0.8644 - val_loss: 0.3513 - val_accuracy: 0.8512
Epoch 8/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3289 - accuracy: 0.8641 - val_loss: 0.3456 - val_accuracy: 0.8575
Epoch 9/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3261 - accuracy: 0.8641 - val_loss: 0.3467 - val_accuracy: 0.8594
Epoch 10/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3255 - accuracy: 0.8650 - val_loss: 0.3451 - val_accuracy: 0.8481
Epoch 11/100
200/200 [==============================] - 1s 5ms/step - loss: 0.3227 - accuracy: 0.8647 - val_loss: 0.3476 - val_accuracy: 0.8581
Epoch 12/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3199 - accuracy: 0.8678 - val_loss: 0.3482 - val_accuracy: 0.8550
Epoch 13/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3182 - accuracy: 0.8675 - val_loss: 0.3439 - val_accuracy: 0.8519
Epoch 14/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3176 - accuracy: 0.8656 - val_loss: 0.3440 - val_accuracy: 0.8544
Epoch 15/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3157 - accuracy: 0.8703 - val_loss: 0.3464 - val_accuracy: 0.8494
Epoch 16/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3129 - accuracy: 0.8700 - val_loss: 0.3437 - val_accuracy: 0.8519
Epoch 17/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3116 - accuracy: 0.8723 - val_loss: 0.3465 - val_accuracy: 0.8556
Epoch 18/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3094 - accuracy: 0.8709 - val_loss: 0.3452 - val_accuracy: 0.8512
Epoch 19/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3097 - accuracy: 0.8741 - val_loss: 0.3435 - val_accuracy: 0.8575
Epoch 20/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3066 - accuracy: 0.8716 - val_loss: 0.3478 - val_accuracy: 0.8581
Epoch 21/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3068 - accuracy: 0.8744 - val_loss: 0.3429 - val_accuracy: 0.8581
Epoch 22/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3046 - accuracy: 0.8741 - val_loss: 0.3429 - val_accuracy: 0.8612
Epoch 23/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3031 - accuracy: 0.8748 - val_loss: 0.3458 - val_accuracy: 0.8544
Epoch 24/100
200/200 [==============================] - 1s 5ms/step - loss: 0.3032 - accuracy: 0.8736 - val_loss: 0.3535 - val_accuracy: 0.8544
Epoch 25/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3012 - accuracy: 0.8741 - val_loss: 0.3482 - val_accuracy: 0.8500
Epoch 26/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3005 - accuracy: 0.8756 - val_loss: 0.3488 - val_accuracy: 0.8581
Epoch 27/100
200/200 [==============================] - 1s 5ms/step - loss: 0.3002 - accuracy: 0.8747 - val_loss: 0.3464 - val_accuracy: 0.8550

In [61]:
model.save('model.h5')

c:\Users\nagpa\.vscode\deepProj\wenv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [62]:
##load tensorboard extension
%load_ext tensorboard

In [65]:
%tensorboard --logdir log/fit

Reusing TensorBoard on port 6006 (pid 49200), started 0:04:47 ago. (Use '!kill 49200' to kill it.)